<h1> Welcome Back To VetRX Aid! </h1> 

<%= form_tag("login", method: "post") %>
<label>Email:</label>
<%= text_field_tag :email %>
<br></br>
<label>Password:</label>
<%= text_field_tag :password %>
<br></br>
<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<br></br>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= submit_tag "Log In" %>
<%= link_to "Return To Homepage", root_path %>