<h1> Welcome to VetRX Aid! </h1>

<%= form_for @owner do |f| %>

  <%= f.label "Name:" %>
  <%= f.text_field :name %>

<br></br>

  <%= f.label "Email:" %>
  <%= f.text_field :email %>

  <br></br>

  <%= f.label "Password:" %>
  <%= f.text_field :password %>

  <br></br>

  <%= f.label "Confirm Password:" %>
  <%= f.text_field :password_confirmation %>

   <br></br>
  <%= submit_tag "Sign Up" %>
<% end %>
<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<br></br>
<%= link_to "Return To Homepage", root_path %>