<h1>Your Prescription:</h1> 
<p><%= @prescription.pet.name %> has been prescribed <%= @prescription.dosage %> Mg of <%= @prescription.medication.name %> daily by Dr. <%= @prescription.doctor.name %></p>


<br></br>

<a><%= button_to "Delete Prescription", prescription_path(@prescription), method: :delete%></a>

<p><%= link_to "Return to #{@prescription.pet.name}'s Page", pet_path(@prescription.pet) %></p>