<h2> <%= @pet.name %>: </h2>

<%= form_for @pet do |f| %>
  
    <%= f.label 'Age' %><br>
    <%= f.number_field :age %><br>

    <%= f.label 'Weight(lbs)' %><br>
    <%= f.number_field :weight %><br>
  
    <%= f.submit "Update pet" %>    
  <% end %> 

<%= link_to "Return to Owner Page", owner_path(current_owner) %>
<br></br>