
<h1>Create a new Pet</h1>
<%= form_tag pets_path do %>
<label>Name:</label>
<%= text_field_tag :name %>
<br></br>
<label>Species:</label>
<%= text_field_tag :species %>
<br></br>
<label>Age:</label>
<%= text_field_tag :age %>
<br></br>
<label>Weight:</label>
<%= text_field_tag :weight %>
<br></br>
<%= submit_tag "Submit Pet" %>
<% end %>
<br></br>
<%= link_to "Return to Owner Page", owner_path(current_user) %>

