<h1><%= @pet.name %>:</h1>

Species: <%= @pet.species %>
    <br></br> 
Age: <%= @pet.age %> Years Old
    <br></br>
Weight:    <%= @pet.weight %> Lbs
<br></br>
<% if @pet.prescriptions != [] %>
    Prescribed Drugs: <% @pet.prescriptions.each do |p| %>  
   <%= link_to "#{p.medication.name}", pet_prescription_path(@pet.id, p.id) %>
    <% end %>
    <% else %> 
    <%= "#{@pet.name} Has No Active Prescriptions" %>
    <% end %>
<br></br>
Owner: <%= current_owner.name %>
<br></br>


<%= link_to "Edit #{@pet.name}'s Information", edit_pet_path(@pet) %>
<br></br>
<%= link_to "Add Medication", new_prescription_path %>
<br></br>
<%= link_to "Return to Owner Page", owner_path(current_owner) %>
<br></br>

